/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
	display: grid;
	min-inline-size: 320px;
	max-inline-size: 700px;
	min-block-size: 100dvb;
	font-family: var(--main-font), sans-serif;
	font-variation-settings: 'wght' var(--main-font-weight);
	margin: 0 auto;
	background-image: repeating-linear-gradient(
			to right,
			#d3d3d3 0 2px,
			rgba(211, 211, 211, 0) 2px 4px
		),
		repeating-linear-gradient(
			to bottom,
			#d3d3d3 0 2px,
			rgba(211, 211, 211, 0) 2px 4px
		),
		linear-gradient(to bottom, #e7e7e7, #1a1a1a);

	background-size: 20px 20px, 20px 20px, cover;
	background-repeat: repeat;
	background-attachment: fixed;
}

.header__title {
	margin-block: 100px;
	width: 100%;
	min-block-size: 327px;
	display: flex;
	gap: 20px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--main-bg-color);
	border: var(--border);
	height: 100%;
}

.logo {
	font-family: 'PressStart2P', sans-serif;
	text-align: center;
}

.logo-group__heading {
	font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
}

.logo-group__text {
	font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
	text-transform: uppercase;
}

.card-list {
	display: grid;
	gap: 50px;
}

.card-list__item {
	background-color: var(--main-bg-color);
	border: var(--border);
}

.card {
	position: relative;
	display: flex;
	flex-direction: column;
}

.card__heading {
	padding-inline: 10px;
	padding-block: 5px;
	font-size: 18px;
}

.watermark {
	position: absolute;
	z-index: 1;
	right: 30px;
	top: 55px;
	opacity: 50%;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
	font-size: 14px;
	mix-blend-mode: hard-light;
	text-transform: uppercase;
}

@media (width <= 456px) {
	.first-watermark {
		top: 80px;
	}
}

@supports (-webkit-text-stroke: 1px white) {
	.watermark {
		-webkit-text-stroke: 1px white;
		text-shadow: none;
	}
}

.card__image {
	border-top: var(--border);
	border-bottom: var(--border);
	inline-size: 100%;
	block-size: 100%;
	object-fit: cover;
	aspect-ratio: 1 / 1;
}

.default-image {
	object-position: top;
}

.contrast-image {
	filter: contrast(120%);
}

.saturate-image {
	filter: saturate(80%);
}

.hue-rotate-image {
	animation: filter-color 5s linear infinite;
}

.multiply-filter-image {
	filter: contrast(140%) sepia(40%) saturate(120%);
}

.sephia-image {
	filter: sepia(20%);
}

.brightness-image {
	filter: brightness(80%);
}

.blur-image {
	animation: filter-blur 2s alternate infinite;
}

.card__content {
	padding: 25px;
	display: grid;
	gap: 25px;
}

.card__text {
	font-size: 18px;
	line-height: 21px;
}

.card__icon {
	justify-self: end;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 7px;
}

.card__like-button {
	block-size: 38px;
	inline-size: 130px;
}

.card__icon-button {
	padding-inline: 0;
	padding-block: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	border: 2px solid transparent;
	outline: none;
	transition: border 0.3s ease;
	cursor: pointer;
}

.card__icon-button:focus {
	outline-color: transparent;
}

.card__icon-button:focus-visible {
	border: var(--border);
}

.main-body,
.core {
	fill: transparent;
}

.main-body {
	z-index: 1;
	transition: fill 0.3s linear 0s;
}

.core {
	z-index: 0;
	transition: fill 0.3s linear 0.03s;
}

.contour {
	fill: var(--countour-color);
	transition: fill 0.1s linear 0s;
}

.sparks {
	opacity: 0;
}

.like-icon:hover .core {
	fill: var(--countour-color);
	transition-duration: 0.3s;
	transition-timing-function: linear;
	transition-delay: 0s;
}

.like-icon:hover .main-body {
	fill: var(--countour-color);
	transition-duration: 0.3s;
	transition-timing-function: linear;
	transition-delay: 0.05s;
}

.like-icon:active .core {
	fill: var(--animation-fill-color);
	transition-duration: 0.3s;
	transition-timing-function: linear;
	transition-delay: 0s;
}

.like-icon:active .main-body {
	fill: var(--animation-fill-color);
	transition-duration: 0.3s;
	transition-timing-function: linear;
	transition-delay: 0.05s;
}

.like-icon.is-liked .core {
	fill: var(--animation-fill-color);
	transition-delay: 0s;
	transition-duration: 0.3s;
	transition-timing-function: linear;
}

.like-icon.is-liked .main-body {
	fill: var(--animation-fill-color);
	transition-duration: 0.3s;
	transition-timing-function: linear;
	transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
	fill: var(--animation-fill-color);
	transition-duration: 0.3s;
	transition-timing-function: linear;
	transition-delay: 0.06s;
}

.is-liked .heart {
	animation: heartbeat 0.3s ease-in;
	transform-origin: center;
	animation-delay: 0.1s;
}

.is-liked .sparks {
	animation: sparks 0.3s ease-in;
	animation-delay: 0.3s;
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	border: var(--border);
	background-color: var(--main-bg-color);
	color: var(--accent-color);
	transition: 0.5s ease;
	position: relative;
	cursor: pointer;
}

.button:focus {
	outline: none;
	box-shadow: 2px 2px 0 var(--accent-color);
	transition: box-shadow 0.3s ease;
}

.button:hover {
	color: var(--hover-color);
}

.button::before {
	content: '';
	position: absolute;
	inset: 0;
	background-color: var(--accent-color);
	transform: scaleX(0);
	transition: transform 0.5s ease-in-out;
	transform-origin: left;
}

.button:hover::before {
	transform: scaleX(1);
}

.button__text {
	color: var(--hover-color);
	z-index: 1;
	font-family: var(--decorate-font), sans-serif;
	font-size: 14px;
	mix-blend-mode: difference;
}

.button-save-container {
	display: flex;
	justify-content: center;
}

.button-save {
	padding-block: 14px;
	margin-block: 50px 100px;
	display: grid;
	gap: 8px;
	min-inline-size: 306px;
	min-block-size: 84px;
}

.floppy {
	max-width: 28px;
	max-height: 28px;
	z-index: 1;
	justify-self: center;
	mix-blend-mode: difference;
	fill: var(--hover-color);
}

dialog {
	position: fixed;
	display: grid;
	gap: 30px;
	padding-inline: 40px;
	padding-block: 30px;
	max-inline-size: 341px;
	inset: 0;
	transition: 0.3s ease-in-out;
}

dialog:not([open]) {
	pointer-events: none;
	opacity: 0;
}

dialog::backdrop {
	background-color: rgb(0, 0, 0, 0.75);
}

.dialog-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 18px;
}

.dialog-container .floppy {
	max-width: 39px;
	max-height: 39px;
}

.dialog-container__text {
	text-transform: uppercase;
	font-size: 14px;
	line-height: 150%;
}

.dialog-container__button {
	padding: 9px 17px;
}

.dialog-container__button .button__text {
	text-transform: uppercase;
}

@media (width >= 376px) {
	.button-save {
		display: flex;
		align-items: center;
		min-block-size: 55px;
		min-inline-size: 335px;
		padding-block: 0;
	}

	.floppy {
		max-width: 21px;
		max-height: 21px;
	}

	.header__title {
		min-block-size: 369px;
	}
}

@media (prefers-reduced-motion: reduce) {
	.hue-rotate-image {
		animation: none;
	}

	.blur-image {
		animation: none;
	}
}
